{% extends 'pure_beurre/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Aloy</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">{{ user.username }}</p>
                </div>
            </div>
        </div>
    </header>

    <div class="card text-center page-section bg-primary">
        <div class="card-body"><p>Email : {{ user.email }}</p></div>
    </div>

{% endblock content %}