{% extends 'pure_beurre/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

    <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">{{ request.GET.query }}</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Trouvez un produit de substitution pour ce que vous consommez tous les jours.</p>
                        <form action="{% url 'product_search' %}" method="get">
                            <input name="query" class="form-control form-control-sm" id="navbar-input" type="text" placeholder="Rechercher">
                        </form>
                    </div>
                </div>
            </div>
        </header>

    <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

          {% for object in object_list %}
              {% autoescape off %}
                <div id="{{ object.id }}_{{ product.site }}" class="col-md-4 my-5 px-5" >
                    <div>
                        {% if object.nutrition_grade %}
                            <span class="nutriscore">{{ object.nutrition_grade }}</span>
                        {% endif %}
                        <img class="image"
                             src={{ object.img_url }}>
                        <a href="{% url 'product' product=object.pk %}">
                            <h3>{{object.name}}</h3></a>
                        <a class="nav-link" href="{% url 'find_substitute' product=object.pk %}"><p>Substituer</p></a>
                    </div>
                </div>
              {% endautoescape %}
          {% endfor %}
        </div>
    </section>
{% endblock content %}
