{% extends 'pure_beurre/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-center mx-auto">
        <h2>Votre produit favori a été sauvegardé !</h2>
    </div>

    <section class="text-center mb-3 card-deck m-5">

        <!--Grid row-->
        <div class="card col-sm-3 mx-auto" style="width: 18rem;">
          <a class="nav-link" href="{% url 'product' %}">
              <img class="card-img-top" src="{%static 'img/icon/pizza.png' %}" alt="Card image cap">
              <div class="card-body"><p class="card-text">Produit</p>
              </div>
          </a>
        </div>
        <div class="card col-sm-3 mx-auto" style="width: 18rem;">
          <a class="nav-link" href="{% url 'favorite' %}">
              <img class="card-img-top" src="{%static 'img/icon/star.png' %}" alt="Card image cap">
              <div class="card-body"><p class="card-text">Favori</p>
              </div>
          </a>
        </div>
    </section>
{% endblock content %}
