@charset "UTF-8";

.nutriscore {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 38px;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 20%;
  background: #038141;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0dc96b, #038141);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0dc96b, #038141);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 1px 1px 5px #345a61;
  color: #ffffff;
}

ul.nutrient-levels{
    padding-left: 0;
}
ul.nutrient-levels li{
    padding: 10px 0 10px 50px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}
li.moderate {
  background-image: url('../assets/img/score_value/moderate.svg');
}
li.high {background-image: url('../assets/img/score_value/high.svg');}
li.low {background-image: url('../assets/img/score_value/low.svg');}

.footer-link {
    color: white;
}